<h1 align="center">Takmičenja</h1>
<br/>
<h3>Dodavanje novog učesnika</h3>
<br/>
<div ng-controller="takmicenjaCtrl">

        <form>
            <div class="form-group">
                <label for="naziv">Naziv</label>
                <input type="text" class="form-control" name="naziv" ng-model="noviUcesnik.naziv" placeholder="Naziv">
            </div>
            <div class="form-group">
                <label for="mesto">Mesto</label>
                <input type="text" class="form-control" name="mesto" ng-model="noviUcesnik.mesto" placeholder="Mesto">
            </div>
            <div class="form-group">
                <label for="email">Kontakt</label>
                <input type="text" class="form-control" name="email" ng-model="noviUcesnik.email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <label for="takmicenje">Takmičenje</label>
                <select class="form-control" name="takmicenje" ng-model="noviUcesnik.takmicenjeId">
                    <option ng-repeat="takmicenje in takmicenja" value="{{takmicenje.id}}">{{takmicenje.naziv}}</option>

                </select>
            </div>

            <button type="button" class="btn btn-primary" ng-click="dodaj()">Dodaj</button>
        </form>

    <br/>
    <h3>Pretraga učesnika</h3>
    <br/>

        <form>
            <div class="form-group" ng-hide="table">
                <label for="naziv">Naziv</label>
                <input type="text" class="form-control" name="naziv" ng-model="trazeniUcesnik.naziv" ng-change="trazi()" placeholder="Naziv">
            </div>
            <div class="form-group">
                <label for="takmicenje">Takmičenje</label>
                <select class="form-control" name="takmicenje" ng-model="trazeniUcesnik.takmicenjeId" ng-change="trazi()">
                    <option ng-repeat="takmicenje in takmicenja" value="{{takmicenje.id}}">{{takmicenje.naziv}}</option>

                </select>
            </div>
           

            <button type="button" class="btn btn-primary" ng-click="prikazi()">Filtriraj</button>
        </form>


    <br/>
    <br/>
    <br/>
    <div class="btn-group pull-right" ng-hide="table">
        <button class="btn btn-primary" ng-click="nazad()" ng-disabled="pageNum==0">Prethodna</button>
        <button class="btn btn-primary" ng-click="napred()" ng-disabled="pageNum == totalPages - 1">Sledeća</button>
    </div>
    <button class="btn btn-primary" ng-hide="table" ng-click="predji()">Dodaj rezultat</button>
    <table class="table table-striped" ng-hide="table">
        <tr>
            <th>Naziv</th>
            <th>Mesto</th>
            <th>Kontakt</th>
            <th>Takmičenje</th>
            <th>Odigranih susreta</th>
            <th>Bodovi</th>
            <th>Opcije</th>
        </tr>
        <tr ng-repeat="ucesnik in ucesnici | orderBy : '-brBodova'">
            <td>{{ucesnik.naziv}}</td>
            <td>{{ucesnik.mesto}}</td>
            <td>{{ucesnik.email}}</td>
            <td>{{ucesnik.takmicenjeNaziv}}</td>
            <td>{{ucesnik.odigrano}}</td>
            <td>{{ucesnik.brBodova}}</td>
            <td>
                <button class="btn btn-danger" ng-click="obrisi(ucesnik.id)">Obriši</button>
                <button class="btn btn-warning" ng-click="izmeni(ucesnik.id)">Izmeni</button>
            </td>
        </tr>
    </table>
</div>